<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>qsName</key>
		<string>东吴证券</string>
		<key>shortName</key>
		<string>dwzq</string>
		<key>url</key>
		<string></string>
		<key>fullName</key>
		<string>dongwuzhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>浙商证券</string>
		<key>shortName</key>
		<string>zszq</string>
		<key>fullName</key>
		<string>zheshangzhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>华西证券</string>
		<key>shortName</key>
		<string>hxzq</string>
		<key>fullName</key>
		<string>huaxizhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>平安证券</string>
		<key>shortName</key>
		<string>pazq</string>
		<key>fullName</key>
		<string>pinganzhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>恒泰证券</string>
		<key>qsId</key>
		<string>36</string>
		<key>shortName</key>
		<string>htzq</string>
		<key>fullName</key>
		<string>hengtaizhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>中金证券</string>
		<key>shortName</key>
		<string>zjzq</string>
		<key>fullName</key>
		<string>zhongjinzhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>山西证券</string>
		<key>shortName</key>
		<string>sxzq</string>
		<key>fullName</key>
		<string>shanxizhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>长城证券</string>
		<key>shortName</key>
		<string>cczq</string>
		<key>fullName</key>
		<string>changchengzhengquan</string>
	</dict>
	<dict>
		<key>qsName</key>
		<string>东莞证券</string>
		<key>shortName</key>
		<string>dgzq</string>
		<key>fullName</key>
		<string>dongguanzhengquan</string>
	</dict>
</array>
</plist>
